$hoverIconColor : #cd9d00;
$bgHColor: #a9c4cd;
@mixin hoveredSideBarStyles() {
        .sidebarRow__icon {
            color: $hoverIconColor ;
        }
        .sidebarRow__title {
            font-weight: bold;
        }
} 

.sidebarRow{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    &:hover {
        cursor: pointer;
        background-color: $bgHColor;
       @include hoveredSideBarStyles()
    }
    &.selected {
        background-color: $bgHColor;
        @include hoveredSideBarStyles()
    }
}

.sidebarRow__icon {
    color: gray;
    font-size: large !important;
}
.sidebarRow__title {
    flex: 1.0;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 500;
}
a {
    text-decoration: none;
}